

@font-face {
  font-family: 'gotham-bold';
  src: local('Roboto-Bold'), url(./assets/fonts/GOTHAM_BOLD.ttf) format('truetype');
}

@font-face {
  font-family: 'gotham-Regular';
  src: local('Roboto-Regular'), url(./assets/fonts/GOTHAM_REGULAR.ttf) format('truetype');
}

@font-face {
  font-family: 'gotham-Medium';
  src: local('Roboto-Medium'), url(./assets/fonts/GOTHAM_MEDIUM.ttf) format('truetype');
}
